{% extends '@Frontend/layout.html.twig' %}

{% block background %}{{ asset('assets/img/images2.jpg') }}{% endblock %}

{% block title %}Acerca De | {{ parent() }}{% endblock %}

{%  block opengraph %}
    <meta property="og:type" content="website" />
    <meta property="og:title" content="CI | Acerca De" />
    <meta property="og:description" content="Somos una empresa que proporciona soluciones informáticas de capacitación
    y entrenamiento en informática a cualquier nivel dentro de las organizaciones; además ofrece Desarrollo Web de Calidad y Venta de Equipo de Cómputo y Consumibles." />
    <meta property="og:image" content="{{ absolute_url(asset('assets/img/logo_ci_facebook.png')) }}" />
    <meta property="keywords" content="capacitacion informatica,capacitacion,informatica,excel,desarrollo web,certificacion,certificaciones,equipo de computo,computo,consumibles,venta,acerca">
    <meta property="description" content="Somos una empresa que proporciona soluciones informáticas de capacitación
    y entrenamiento en informática a cualquier nivel dentro de las organizaciones; además ofrece Desarrollo Web de Calidad y Venta de Equipo de Cómputo y Consumibles.">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/common.css') }}">
{% endblock %}

{% block acerca %}active{% endblock %}

{% block body %}
    <div class="banner-info">
        <div class="row text-center espaciotop">
            <h1>¿QUIÉNES <strong>SOMOS?</strong></h1>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="wrap-item text-center">
                    <div id="rotate-demo3" class="rotate" data-rotate-interval="6000" data-rotate-animate="zoomIn,zoomOut">
                        <h1 class="demo1">Somos una empresa comprometida <strong><span class="rotate-arena"></span></strong></h1>
                        <ul>
                            <li><strong class="text-danger">en apoyar los programas académicos que forman parte del área de TI.</strong></li>
                            <li><strong class="text-danger">en elevar el nivel de Cultura Informática.</strong></li>
                            <li><strong class="text-danger">en la solución de desarrollo empresarial y académico.</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block section %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center">Capacitación Informática</h1>
                    <hr>
                </div>

                <div class="col-xs-12 col-md-6">
                    <p class="text-justify">Somos una empresa que proporciona soluciones de capacitación y entrenamiento en informática a cualquier nivel dentro de las organizaciones industriales, financieras, educativas, etc.</p>

                    <p class="text-justify">Esto se logra a través de un modelo de capacitación en el cual se ejemplifican situaciones reales a las que se enfrenta el usuario día con día, y que con la experiencia de nuestros asesores se puede transmitir de un modo 100% práctico, manejando todas las aplicaciones del programa, contamos con herramientas de apoyo, como son manuales y prácticas diseñadas para poder continuar con un autoestudio y así reforzar los conocimientos adquiridos durante la capacitación.</p>

                    <p class="text-justify">Al finalizar el curso los participantes podrán presentar un examen de Certificación Microsoft, obteniendo con esto un documento que avala el manejo del programa (al nivel que se curso), esta certificación queda registrada por el proveedor y la Secretaría del Trabajo.</p>
                </div>
                <div class="col-md-6 hidden-xs hidden-sm">
                    <img src="{{ asset('assets/img/icon_ci.png') }}" class="img-responsive img-center" alt="Logo Capacitacion Informatica" width="60%">
                </div>
            </div>
        </div>
        <hr>
    </section>
{% endblock %}

{% block footerFuera %}
    <footer id="footer">
        <div class="container">
            <div class="row text-center">
                <p>&copy; CI - Derechos reservados.</p>
                <p>
                    <a href="https://capacitacioninformatica.com/webmail" target="_blank"><i class="fa fa-id-card-o"></i></a>
                    <a href="{{ path('admin_home') }}" target="_blank"><i class="fa fa-lock" style="margin-left: 25px;"></i></a>
                </p>
                <div class="credits">
                    Designed  by <a href="https://capacitacioninformatica.com/">CI</a>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}