{% extends '@Frontend/layout.html.twig' %}

{% block background %}{{ asset('assets/img/background-blue.png') }}{% endblock %}

{%  block opengraph %}
    <meta property="og:type" content="website" />
    <meta property="og:title" content="CI | Acceso a Prácticas {{ empresa.nombre }}" />
    <meta property="og:description" content="Acceso a Prácticas" />
    <meta property="og:image" content="{{ absolute_url(asset('assets/img/logo_ci_facebook.png')) }}" />
    <meta property="keywords" content="capacitacion informatica,capacitacion,informatica,excel,desarrollo web,certificacion,certificaciones,equipo de computo,computo,consumibles,venta,acceso,empresas">
{% endblock %}

{% block title %}Acceso | {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/practice.css') }}">
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        {% if error is defined and error == 1 %}
            $(document).ready(function () {
                $('#acceso_password').val('');
                $('.help-block').html('El password no coincide.');
            });
        {% endif %}
    </script>
{% endblock %}

{% block body %}
    <div class="banner-info text-center">
        <div class="col-lg-12 col-md-12 col-sm-12 ">
            <h1 class="wow flipInX">Acceso a Prácticas</h1>
            <h2 class="wow flipInX">{{ empresa.nombre }}</h2>
        </div>
    </div>
{% endblock %}

{% block section %}
    <style>
        .board{
            height: 300px!important;
        }
    </style>
    <div class="section">
        <div class="container-fluid ">
            <div class="row text-center backbanner">
            </div>
        </div>
        <div class="container">
            <div class="row espacio1">
                <div class="col-sm-12">
                    <section style="background:#efefe9;">
                        <div class="container">
                            <div class="row">
                                <div class="board">
                                    <div class="col-sm-4 col-sm-push-4 text-center">
                                        {{ form_start(form,  {'action':path('acceso',{'slug':slug})}) }}
                                        <div class="form-group">
                                            {{ form_label(form.password) }}
                                            {{ form_widget(form.password, {'attr': {'class': 'form-control'} }) }}
                                            <p class="help-block">
                                            </p>
                                            {% if form.password.vars.errors|length > 0 %}
                                                <p class="help-block">
                                                    {% for error in form.password.vars.errors %}
                                                        {{ error.message }} <br/>
                                                    {% endfor %}
                                                </p>
                                            {% endif %}
                                        </div>
                                        {{ form_widget(form.enviar, {'attr': {'class ': 'btn btn-success'} }) }}
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footerFuera %}
    <footer id="footer">
        <div class="container">
            <div class="row text-center">
                <p>&copy; CI - Derechos reservados.</p>
                <p>
                    <a href="https://capacitacioninformatica.com/webmail" target="_blank"><i class="fa fa-id-card-o"></i></a>
                    <a href="{{ path('admin_home') }}" target="_blank"><i class="fa fa-lock" style="margin-left: 25px;"></i></a>
                </p>
                <div class="credits">
                    Designed  by <a href="https://capacitacioninformatica.com/">CI</a>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}